<div ma-dialog-title class="institution-dialog__header">
    <div class="modal-header">
      <h2>{{ "Product" | translate }}</h2>
      <a [mat-dialog-close]="false" class="close-icon">
        <mat-icon>close</mat-icon>
      </a>
    </div>
  </div>
  
  <mat-dialog-content class="mat-typography institution-dialog__content">
    <form >
      <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "Product Name" | translate }}</mat-label>
          <input matInput maxlength="50" type="text" placeholder="{{ 'Enter Product Name' | translate }}"
             required />
        </mat-form-field>
      </div>
      <div class="form-group mt-2">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>{{ "Product amount" | translate }}</mat-label>
          <input matInput maxlength="50" type="text" placeholder="{{ 'Enter Product Name' | translate }}"
             required />
        </mat-form-field>
      </div>
      <div class="form-group">
        <button class="btn btn-orange w-100">
          {{ "Save" | translate }}
        </button>
      </div>
    </form>
  </mat-dialog-content>