<nav class="header navbar navbar-expand  navbar-light">
    <ul class="navbar-nav">
        <h1 class="my-auto header__text"><b>Exchange</b></h1>
    </ul>

    <ul class="navbar-nav ml-auto">
        <li>
            <a (click)="setLang('tr')" class="lang__selection" [ngClass]="{'active': lang=='tr'}">
                <i class="flag-icon flag-icon-tr mr-2"></i>
            </a>
        </li>
        <li>
            <a (click)="setLang('en')" class="lang__selection" [ngClass]="{'active': lang=='us'}">
                <i class="flag-icon flag-icon-us mr-2"></i>
            </a>

        </li>
    </ul>
</nav>