<div class="row">
    <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
        <img src="/assets/image/Wavy_Bus-23_Single-05.jpg" style="height:225px;width: 80%;margin-left: 10%;">
        <mat-form-field class="w-100">
            <mat-label>{{ "User Name" | translate }}</mat-label>
            <input matInput type="text" maxlength="20" name="Username" #Username="ngModel" [(ngModel)]="_model.Username"
                placeholder="{{'User Name' | translate}}" required>
            <mat-error *ngIf="Username.invalid && Username.touched">
                {{ "Name field must be filled" | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="w-100">
            <mat-label>{{"Password" | translate}}</mat-label>
            <input matInput type="password" name="Password" #Password="ngModel" [(ngModel)]="_model.Password"
                placeholder="{{'Password' | translate}}" required>
            <mat-error *ngIf="Password.invalid && Password.touched">
                {{ "Password field must be filled" | translate }}</mat-error>
        </mat-form-field>
        <button type="submit" class="btn">
            Login
        </button>
    </form>
</div>