<div class="container  h-100 w-100">
    <div class="row h-25 d-flex align-items-start">
        <h1 class="login__title">Log in !</h1>
    </div>
    <div class="row h-50 d-flex align-items-center">
        <div class="col-12 mx-auto">
            <div class="row">
                <mat-form-field class="mx-auto w-100" appearance="outline">
                    <mat-label>{{"User Name" | translate}}</mat-label>
                    <input matInput placeholder="{{'User Name' | translate}}" required>
                </mat-form-field>
            </div>
            <div class="row mt-3">
                <mat-form-field class="mx-auto w-100" appearance="outline">
                    <mat-label>{{"Password" | translate}}</mat-label>
                    <input matInput placeholder="{{'Password' | translate}}" required>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="row h-25 d-flex align-items-end">
        <button class="login__button mx-auto">Log in</button>
    </div>
</div>