.log {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: -5px -5px 20px  #212121,  5px 5px 20px  #141414;
    border-radius: 50px;
    &__stick{
        @media (min-width: 992px) {
            border-right: #ff8303 3px solid;
          }
          @media (max-width: 991px) {
            border-bottom: #ff8303 3px solid;
            margin-bottom: 3rem;
            padding-bottom: 3rem;
          }
    }
}