.login{
    &-form {
        width: 350px;
        background-color: hsl(0, 4%, 33%);
        &-avatar {
            width: 100px;
            height: 100px;
            border-radius: 50% !important;
            background: #ff8303;
        }
        &-btn {
            min-height: 40px;
            transition: all 0.5s;
            background: #ff8303;
            border: none;
            line-height: normal;
            &:focus, &:hover {
                background: #a35709;
            }
        }
        &-input{
            box-shadow: none;
		    border:none;
            &:focus{
                border-color:#ff8303 ;
            }
        }
        .fa {
            font-size: 62px;
            color: #fff;
        }
        h4 {
            color: #fff;
            text-align: center;
            font-size: 22px;
        }
        a {
            color: #ff8303;
        }
    }
}
