<div ma-dialog-title class="institution-dialog__header">
  <div class="modal-header">
    <h2>{{ "Money" | translate }}</h2>
    <a [mat-dialog-close]="false" class="close-icon">
      <mat-icon>close</mat-icon>
    </a>
  </div>
</div>
<mat-dialog-content class="mat-typography institution-dialog__content">
  <form #moneyForm="ngForm" (ngSubmit)="addMoney(moneyForm)">
    <mat-form-field appearance="outline" class="w-100">
      <mat-select placeholder="{{ 'Select Currency' | translate }}" name="Name" #Name="ngModel"
        [(ngModel)]="model.Name">
        <mat-option [value]="1">TL</mat-option>
        <ng-container *ngFor="let rate of rates">
          <mat-option class="w-100" [value]="rate[1].Buying">
            <div class="row w-100">
              <div class="col-6 w-100">{{rate[0]}}</div>
              <div class="col-6 w-100 d-flex justify-content-end"><small>{{" Buying Price: "}}{{rate[1].Buying}}</small>
              </div>
            </div>
          </mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>{{"Last update date of data: " | translate}}{{rate.Update_Date}}</mat-hint>
    </mat-form-field>
    <div class="form-group mt-2">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>{{ "Money amount" | translate }}</mat-label>
        <input matInput maxlength="50" type="number" name="Amount" #Amount="ngModel" [(ngModel)]="model.Amount"
          placeholder="{{ 'Enter Money Name' | translate }}" required />
      </mat-form-field>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-orange w-100">
        {{ "Save" | translate }}
      </button>
    </div>
  </form>
</mat-dialog-content>