<div class="container logup">
    <div class="row">
        <h1 class="logup__title">Log up !</h1>
    </div>
    <div class="row w-100">
        <mat-form-field class="col-lg-6 pl-lg-0 pr-lg-1 p-0 w-100" appearance="outline">
            <mat-label>{{"Name" | translate}}</mat-label>
            <input matInput placeholder="{{'Name' | translate}}" required>
        </mat-form-field>
        <mat-form-field class="col-lg-6 pr-lg-0 pl-lg-1 p-0 w-100" appearance="outline">
            <mat-label>{{"Surname" | translate}}</mat-label>
            <input matInput placeholder="{{'Surname' | translate}}" required>
        </mat-form-field>
    </div>
    <div class="row w-100">
        <mat-form-field class="mx-auto w-100" appearance="outline">
            <mat-label>{{"User Name" | translate}}</mat-label>
            <input matInput placeholder="{{'User Name' | translate}}" required>
        </mat-form-field>
    </div>
    <div class="row w-100">

        <mat-form-field class="mx-auto w-100" appearance="outline">
            <mat-label>{{"Email Adress" | translate}}</mat-label>
            <input matInput placeholder="{{'Email Adres' | translate}}" required>
        </mat-form-field>
    </div>
    <div class="row w-100">

        <mat-form-field class="col-lg-6 pl-lg-0 pr-lg-1 p-0 w-100" appearance="outline">
            <mat-label>{{"TC No" | translate}}</mat-label>
            <input matInput placeholder="{{'TC No' | translate}}" required>
        </mat-form-field>
        <mat-form-field class="col-lg-6 pr-lg-0 pl-lg-1 p-0 w-100" appearance="outline">
            <mat-label>{{"Phone" | translate}}</mat-label>
            <input matInput placeholder="{{'Phone' | translate}}" required>
        </mat-form-field>
    </div>
    <div class="row w-100">
        <mat-form-field class="mx-auto w-100" appearance="outline">
            <mat-label>{{"Password" | translate}}</mat-label>
            <input matInput placeholder="{{'Password' | translate}}" required>
        </mat-form-field>
    </div>
    <div class="row">
        <button class="logup__button mx-auto">Log up</button>
    </div>
</div>