<div class="homepage w-100">
    <div class="row m-0">
        <div class="col-12">
            <div class="row m-0 homepage__markets">
                <div class="col-12 p-1 pl-3 m-0 homepage__markets-header">
                    <h1 class="my-auto"><b>Markets</b></h1>
                </div>
                <div class="col-12">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-md-4 my-3 mx-auto">
                            <app-card></app-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>