<div class="homepage w-100">
    <div class="row m-0">
        <div class="col-12">
            <div class="row m-0 homepage__markets">
                <div class="col-12 p-1 pl-3 m-0 homepage__markets-header">
                    <h1 class="my-auto"><b>{{'Portfolio' | translate}}</b></h1>
                </div>
                <div class="col-12">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-12 my-3">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <h1 class="my-auto text-white"><b>{{user.Name}} {{user.Surname}}</b></h1>
                                    </div>
                                    <div class="row" *ngFor="let product of products">
                                        <h1 class="my-auto text-white" *ngIf="product.Name == 'tl'">
                                            <b>{{'Asset' | translate}}: </b>{{product.Amount}} tl
                                        </h1>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-outline-warning"
                                                (click)="openAddProduct()">{{'Add Product' | translate}}</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-outline-warning"
                                                (click)="openAddMoney()">{{'Add Money' | translate}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row homepage__wallet__table mt-3">
                                <table class="table table-striped text-white">
                                    <thead>
                                        <tr>
                                            <th>{{ 'Product' | translate }}</th>
                                            <th>{{'Amount' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let product of products">
                                            <td *ngIf="product.Name != 'tl'">
                                                {{
                                                product.Name }}</td>
                                            <td *ngIf="product.Name != 'tl'">
                                                {{
                                                product.Amount }}</td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="row m-0 homepage__markets">
                <div class="col-12 p-1 pl-3 m-0 homepage__markets-header">
                    <h1 class="my-auto"><b>Markets</b></h1>
                </div>
                <div class="col-12">
                    <div class="row m-0 p-0 w-100">
                        <div class="col-md-4 my-3 mx-auto" *ngFor="let market of markets">
                            <app-card [market]="market"></app-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>