@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~flag-icon-css/css/flag-icon.min.css";
@import url("https://fonts.googleapis.com/css?family=Roboto:300");
body{
    background-color: #252525;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
